.header
  find your customer
.trainer
  - @users.each do |user|
    .trainer__box
      .trainer__box-image
      .trainer__box-information
        .trainer__box-information-name
          = user.name
        .trainer__box-information-comment
          ここには各ユーザーの「要望」が入ります。