.side_bar
  .side_bar__upper
    .side_bar__upper-contents
      .side_bar__upper-contents-username
        YUSUKE
      .side_bar__upper-contents-icon
        %a 
        = icon('fas', 'edit',class: 'icon')
        %a 
        = icon('fas', 'sign-out-alt',class: 'icon')
  .side_bar__lower
    .side_bar__lower-trainer-contents
      .side_bar__lower-trainer-contents-trainer_name
        AYA
      .side_bar__lower-trainer-contents-latest_message
        メッセージはまだありません