.fv-section
  %p.fv-text Welcome to Co-Workout
  .start-btn
    = link_to "Are you user?",new_user_session_path, class: 'user-btn'
    = link_to "Are you coach?",new_coach_session_path, class: 'coach-btn'