*{
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side_bar{
  height: 100vh;
  width: 300px;
  &__upper{
    height: 100px;
    background-color: #DC143C;
    color: white;
    line-height: 100px;
    &-contents{
      display: flex;
      justify-content: space-between;
      &-username{
        font-weight: bold;
        font-size: 30px;
        margin-left: 10px;
        font-family: Times New Roman;
      }
    }
  }
  &__lower{
    height: calc(100vh - 100px);
    background-color: #FFEBCD;
    color: black;
    &-trainer-contents{
      padding: 20px 0 0 20px;
      &-trainer_name{
        font-weight: bold;
        color: black;
        font-family: Times New Roman;
      }
      &-latest_message{
        margin-top: 10px;
        color: black;
        text-decoration: none;
      }
    }
  }
}

.main_chat{
  height: 100vh;
  width: calc(100% - 300px);
  &__trainer{
    height: 100px;
    background-color: #FFEBCD;
    line-height: 50px;
    padding-left: 20px;
    position: relative;
    &-name{
      font-weight: bold;
      font-size: 20px;
      font-family: Times New Roman;
    }
    &-welcomme_sentence{
      font-size: 15px;
      color: gray;
    }
  }
  &__contents{
    height: calc(100vh - 200px);
    background-color: white;
    overflow: scroll;
    &-first{
      padding: 25px 0 25px 25px;
      &-item{
        display: flex;
        &-username{
          font-weight: bold;
          font-family: Times New Roman;
        }
        &-date{
          margin-left: 10px;
          font-size: 12px;
          color: gray;
        }
      }
    }
  }
  &__form{
    height: 100px;
    background-color: #DC143C;
    display: flex;
    position: relative;
  }
}

.signout-icon{
  margin-right: 20px;
}

.input-text{
  height: 50px;
  width: 1100px;
  margin: auto;
  margin-top: 25px;
  margin-left: 35px;
}

.file-icon{
  position: absolute;
  top: 43px;
  right: 240px;
  cursor: pointer;
}

.image-icon{
  top: 43px;
  right: 215px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 95px;
}

.main_chat__trainer-location-btn{
  position: absolute;
  right: 50px;
  top: 30px;
  height: 40px;
  width: 90px;
  background-color: white;
  line-height: 40px;
  margin: auto;
  text-align: center;
  border: solid 2px;
}

.location-btn{
  text-decoration: none;
  color: black;
  font-family: Times New Roman;
  font-weight: bold;
}

a{
  color: white;
}

.hidden{
  display: none;
}

.new_message{
  display: flex;
  justify-content: space-between;
}

.form__submit{
  border: solid 1px;
  height: 50px;
  width: 100px;
  position: absolute;
  top: 25px;
  right: 45px;
  font-weight: bold;
  font-family: Times New Roman;
}
